<div class="row">
    <div class="well well-lg">
        <div class="container-fluid">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="<%- show.logourl %>" width="100%">
                    </div>

                    <div class="col-xs-6">
                        <h3><%- show.name %></h3>
                        <h4><%- (time.getMonth() + 1) + '/'
                            + time.getDate() + '/'
                            + time.getFullYear() + ' '
                            + ((time.getHours() + 24) % 12 || 12) + ':'
                            + ('0' + time.getMinutes()).slice(-2)
                            + ((time.getHours() >= 12) ? "PM" : "AM") %></h4>
                    </div>
                </div>

                <br>

                <div class="row col-xs-12">
                    <h5>Please verify your details before completing your purchase.</h5>
                </div>
            </div>

            <div class="col-xs-3">
                <p>Number of Adult Tickets: <b><%- adultSeatsAmount %></b></p>
                <p>Number of Student Tickets: <b><%- studentSeatsAmount %></b></p>
                <p>Subtotal: <b>$<%- (totalPrice - 1).toFixed(2) %></b></p>
                <p>Processing Fee: <b>$1.00</b></p>
                <br>
                <h4>Total Price: <b>$<%- totalPrice.toFixed(2) %></b></h4>
            </div>

            <div class="col-xs-3">
                <h5><b>How will I receive my tickets?</b></h5>
                <p>Your tickets will be reserved under the name you provide. They can be picked up from the Will Call
                    Station in the theater lobby on the day of the performance.</p>
            </div>
        </div>
    </div>
</div>

<div class="row pre-footer">
    <div class="col-xs-2">
        <button class="btn btn-default" id="checkout-goback-button">Go Back</button>
    </div>

    <div class="col-xs-offset-8 col-xs-2">
        <form action="/api/v1/checkout" method="POST" class="pull-right">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%- stripePublishableKey %>"
                    data-amount="<%- totalPrice.toFixed(2) * 100 %>"
                    data-name="Forsyth Theatre"
                    data-description="<%- adultSeatsAmount + studentSeatsAmount %> Ticket<% if (adultSeatsAmount + studentSeatsAmount > 1) { %>s<% } %> ($<%- totalPrice.toFixed(2) %>)"
                    data-locale="auto"
                    data-label="Purchase"
                    data-billing-address="true"
                    data-allow-remember-me="false">
            </script>
            <input type="hidden" value="<%- selectedShow.id %>" name="showID">
            <input type="hidden" value="<%- selectedShow.name %>" name="showName">
            <input type="hidden" value="<%- selectedSeats.join() %>" name="seats">
        </form>
    </div>
</div>