<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <p>Thank you for purchasing tickets for <%- show.name %> on <%- (time.getMonth() + 1) %>/<%- time.getDate() %>/<%- time.getFullYear() %> at <%- ((time.getHours() + 24) % 12 || 12) %>:<%- ('0' + time.getMinutes()).slice(-2) + ((time.getHours() >= 12) ? 'PM' : 'AM') %>!
            Your payment is confirmed. An email has been sent to you for your records. On the day of the production, please visit visit the Will Call Station in the theater lobby 20 minutes prior to the production for guaranteed seating.</p>
    </div>
</div>