<div class="row">
    <div class="col-xs-2">
        <img src="<%- show.logourl %>" width="100%">
        <h3><%- show.name %></h3>
        <h4><%- (time.getMonth() + 1) + '/'
            + time.getDate() + '/'
            + time.getFullYear() + ' '
            + ((time.getHours() + 24) % 12 || 12) + ':'
            + ('0' + time.getMinutes()).slice(-2)
            + ((time.getHours() >= 12) ? "PM" : "AM") %></h4>

        <form>
            <div class="form-group">
                <label for="adultTickets">Number of Adults</label>
                <input type="number" class="form-control" id="adultTickets" value="<%- selectedSeats.length %>" min="0" max="<%- selectedSeats.length %>" required>
            </div>
            <div class="form-group">
                <label for="studentTickets">Number of Students</label>
                <input type="number" class="form-control" id="studentTickets" value="0" min="0" max="<%- selectedSeats.length %>" required>
            </div>
        </form>
    </div>

    <div class="col-xs-10 well">
        <div id="stage-box" class="row">
            <h1>Stage</h1>
        </div>

        <div class="row" id="seatMap"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-default" id="seats-goback-button">Go Back</button>
    </div>

    <div class="col-xs-offset-5 col-xs-4" id="selected-number">
        <h4><span id="seat-number">0</span> seats selected</h4>
    </div>

    <div class="col-xs-1">
        <button class="btn btn-primary" id="checkout-button" data-content="Please select your seats first."
                data-placement="top">Checkout
        </button>
    </div>
</div>